@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Glacial Indifference";
  src: url("/assets/fonts/GlacialIndifference-Regular.otf");
}
@font-face {
  font-family: "Glacial Indifference";
  src: url("/assets/fonts/GlacialIndifference-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Prata";
  src: url("/assets/fonts/Prata-Regular.ttf");
}

body,
div,
p,
li {
  font-family: "Glacial Indifference", sans-serif;
}

.stack {
  display: grid;
  width: fit-content;
}
.stack > * {
  grid-area: 1 / -1;
}
