---
import {Markdown} from 'astro/components'
import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout title="About" heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/mosaic_1mLpjyVOy.jpg?updatedAt=1636006442468&tr=w-1024,f-jpg,pr-true" bg="bg-gray-300" showDino={true}>
	<div class="content">
		<Markdown>
			### The Mission of the Rainier Valley Creative District

			To build out an active arts and culture coalition that advocates for the Rainier Valley’s artistic and cultural community by fostering collaboration, boosting collective visibility, and addressing economic inequity.

			### Who is the Rainier Valley Creative District?

			We are a coalition of cultural institutions, non-profits, community stakeholders, artists, musicians, businesses, and many others who have gotten together and envisioned a thriving Rainier Valley.

			### How did this amazing thing happen?

			Stakeholders from the various cultural communities of Southeast Seattle met and organized and submitted an application to the Washington States Arts Commission, to establish the Rainier Valley as a Creative District.

			### What is a “Creative District” and what does this mean for the Rainier Valley?

			Creative Districts are designated by the Washington State Arts Commission (ArtsWA). A Creative District is a geographically defined area of cultural and economic activity. It’s the heart of a community. It is a place for people to gather and enjoy their community’s arts and culture.

			### When will this be official?

			The legislation was passed by the City Council on February 22, 2021 and submitted to ArtsWA for certification on February 25, 2021. We expect official certification 6-8 weeks after the submission for certification.

			### Why was the Rainier Valley chosen?

			The Rainier Valley and its many neighborhoods represent some of the greatest racial and economic diversity in Seattle, and face some of the greatest development pressures and displacement risks in Seattle. Creative Districts help communities thrive, and work to support communities turn cultural activities into economic growth.

		</Markdown>
		<p class="text-sky text-lg">The Rainier Valley Creative District is Organized and Fiscally Sponsored by Adefua Cultural Education Workshop.</p>
	</div>
</MainLayout>
