---
import { Content } from '../content/about.md';
import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout infoKey="mosaic" title="About" heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/mosaic_1mLpjyVOy.jpg?updatedAt=1636006442468&tr=w-1024,f-jpg,pr-true" bg="bg-gray-300" showDino={true}>
	<div class="content">
		<Content />
		<a href="https://www.adefuacenter.org/" class="text-sky text-lg">The Rainier Valley Creative District is Organized and Fiscally Sponsored by Adefua Cultural Education Workshop.</p>
	</div>
</MainLayout>
