---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Community" heroImg="hero/faces.jpg" bg="bg-folage bg-opacity-80">
	<div class="flex flex-wrap justify-evenly">

		<div class="wrapper">
			<a href="https://www.adefuacenter.org/">
				<img src='/assets/images/community/adefua.png' alt="Adefua" class="max-h-32 max-w-xs"/>
			</a>
		</div>

		<div class="wrapper">
			<a href="https://www.206zulu.org/">
				<img src='/assets/images/community/206-zulu.jpg' alt="206 Zulu" class="max-h-32 max-w-xs"/>
			</a>
		</div>

		<div class="wrapper">
			<a href="https://www.swps.org/">
				<img src='/assets/images/community/swps.jpg' alt="Seattle World Percussion Society" class="max-h-32 max-w-xs"/>
			</a>
		</div>

		<div class="wrapper">
			<a href="https://www.wanawari.org/">
				<img src='/assets/images/community/wanawari.jpg' alt="Wanawari" class="max-h-32 max-w-xs"/>
			</a>
		</div>

		<div class="wrapper">
			<a href="https://www.honkfestwest.org/">
				<img src='/assets/images/community/hfw.png' alt="HONK! Fest West" class="max-h-32 max-w-xs"/>
			</a>
		</div>

		<div class="wrapper">
			<a href="https://www.seedseattle.org/arts-culture/">
				<img src='/assets/images/community/seed-arts.png' alt="Seed Arts" class="max-h-32 max-w-xs"/>
			</a>
		</div>

		<div class="wrapper">
			<a href="https://rainierartscenter.org/">
				<img src='/assets/images/community/rac.png' alt="Rainier Arts Center" class="max-h-32 max-w-xs"/>
			</a>
		</div>

		<div class="wrapper">
			<a href="http://www.rbcoalition.org/">
				<img src='/assets/images/community/rbac.png' alt="Rainier Beach Action Coalition" class="max-h-32 max-w-xs"/>
			</a>
		</div>

		<div class="wrapper">
			<a href="https://www.kcskc.org/">
				<img src='/assets/images/community/khmer.png' alt="Khmer Community of Seattle King County" class="max-h-32 max-w-xs"/>
			</a>
		</div>   

		<div class="wrapper">
			<a href="https://movimientoafrolatino.org/">
				<img src='/assets/images/community/mas.jpg' alt="Movimiento Afrolatino Seattle" class="max-h-32 max-w-xs"/>
			</a>
		</div>   

		<div class="wrapper">
			<a href="https://syso.org/">
				<img src='/assets/images/community/syso.png' alt="Seattle Youth Symphony Orchestra" class="max-h-32 max-w-xs"/>
			</a>
		</div>   
	</div>
</MainLayout>

<style>
	.wrapper {
		@apply rounded border-folage border-4 bg-white p-2 m-2 flex items-center	
	}
</style>