---
import MainLayout from '../layouts/MainLayout.astro';
import GoFundMe from '../components/GoFundMe.astro'
---

<MainLayout infoKey="king-queen" title="Donate" heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/king-queen_COYYOV3jh.jpg?updatedAt=1636006441855&tr=w-1024,f-jpg,pr-true" bg="bg-wine/80">
	<div class="grid sm:grid-cols-2">
		<div class="flex flex-col items-center mb-5">
			<a href="https://www.paypal.com/donate?hosted_button_id=DNSR3JW3RD69L" class="flex items-center mb-5 py-3 px-5 rounded-full bg-wine hover:opacity-80 focus:scale-95">
				<i class="paypal mr-2"></i> <span class="block text-lg text-gray-300">Donate with PayPal</span>
			</a>
		</div>
		<div class="bg-wine px-4 py-2 rounded-lg">
			<h3 class="bg-wine text-2xl text-gray-300 ">Donate Today!</h3>
			<p class="text-xl text-gray-300">
				By donating to your Creative District, you are
				investing in your Community.
			</p>
		</div>
	</div>
</MainLayout>