---
import MainLayout from '../layouts/MainLayout.astro';
import EventItem from '../components/EventItem.astro';
import signatureEvents from '../data/signature-events.json'

let events = [];

try {
	events = Astro.fetchContent('../events/*.md')
		.filter((event) => !!event.order)
		.sort((a,b) => (a.order - b.order));
} catch (error) {
	console.error("No events available in the events folder.")
}
---

<MainLayout infoKey="flying-heads" title="Events" heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/hanging-heads_XTwLlID0v.jpg?updatedAt=1636006436488&tr=w-1024,f-jpg,pr-true" bg="bg-sky">
	<div class="grid grid-cols-1 sm:grid-cols-3 gap-10  w-full">
    {events.map((event) => (
      <article class="w-full">
        <EventItem event={event}/>
      </article>
    ))}			

		<!-- Signature EVENTS -->
		<div class="flex flex-col justify-between items-center h-full">
			<h3 class="text-gray-200 block text-3xl bg-sky px-4 py-2 mb-2">Signature Events</h3>
			{signatureEvents.map((event) => (
				<div class="text-center mb-4">
					<h3 class="sig-event-title">{event.title}</h3>
					<span class="sig-event-when">{event.when}</span>
				</div>
			))}
		</div>

		<!-- New Event Form -->
		<div class="sm:col-span-2 sm:relative sm:right-4">
			<div class="bg-sky p-4 flex-wrap justify-center sm:justify-end items-center flex sm:inline-flex">
				<p class="text-gray-100 text-xl text-center sm:text-left mb-4 sm:my-2 sm:block">We'd love to feature your upcomming event!</p>
				<a 
					class="tracking-widest sm:ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-lg font-base text-white bg-wine"
					href="https://docs.google.com/forms/d/e/1FAIpQLSecDPDw_NV4fwkAQFxXZEFOw-Nla4Q8XlRq8dWs9UmQyCZR3g/viewform?usp=sf_link"
				>Let Us Know</a>
			</div>
		</div>
	</div>
</MainLayout>

<style>
	.sig-event-title {
		@apply text-gray-600 block text-2xl font-semibold;
	}
	.sig-event-when {
		@apply block text-gray-600 text-2xl;
	}
</style>