---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Get Involved" heroImg="hero/shainas-garden.jpg" bg="bg-mustard bg-opacity-80">
	<div class="main">
		<iframe 
			src="https://docs.google.com/forms/d/e/1FAIpQLSff-6e7EgFkrRUbNN8DmiVPelswI6eREVVwzE-7Dgm_GwjfUQ/viewform?embedded=true" 
			width="100%" 
			height="1120" 
			frameborder="0" 
			marginheight="0" 
			marginwidth="0">
			Loading…
		</iframe>
	</div>
</MainLayout>