---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Get Involved" heroImg="hero/shainas-garden.jpg" bg="bg-mustard bg-opacity-80">
	<div class="flex flex-wrap md:flex-no-wrap">
		<div class="md:w-1/3 md:flex-none mb-8 px-4 rounded-xl mt-3">
			<h3 class="text-gray-200 text-3xl mt-4 mb-2 bg-mustard relative right-2 px-2 py-0.5"
				>Take part in the planning of your
				Creative District!
			</h3>
				<p class="text-gray-600 text-2xl leading-relaxed">
				All are welcome to attend monthly meetings:
				<br/>
				2nd Tuesdays, 6-7:30pm over Zoom.
				<br/><br/>
				<a href="mailto:rvcdinfo@gmail.com" class="font-semibold">rvcdinfo@gmail.com</a> for info and meeting link.</p>
		</div>
		<div class="flex-grow">
			<iframe 
				src="https://docs.google.com/forms/d/e/1FAIpQLSff-6e7EgFkrRUbNN8DmiVPelswI6eREVVwzE-7Dgm_GwjfUQ/viewform?embedded=true" 
				width="100%" 
				height="1120" 
				frameborder="0" 
				marginheight="0" 
				marginwidth="0">
				Loading…
			</iframe>
		</div>
	</div> 
</MainLayout>