---
import { Content } from '../content/press.md';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout infoKey="seattle" title="Press" heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/seattle_e7GvcLR9k.JPG?updatedAt=1636175567171&tr=w-1024,f-jpg,pr-true" bg="bg-gray-300">
	<div class="sm:flex">
		<section class="content mb-10 sm:mr-10">
			<Content />
		</section>
	</div>
</MainLayout>
