---
import {Markdown} from 'astro/components'
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Press" heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/seattle_e7GvcLR9k.JPG?updatedAt=1636175567171&tr=w-1024,f-jpg,pr-true" bg="bg-gray-300">
	<div class="content">
		<Markdown>
			### Rainier Beach Community Art 

			[A self-directed tour showcasing public displays of community art throughout the Rainier Beach urban village.](https://pocketsights.com/tours/tour/Rainier-Beach-Community-Art-3313)
		
			### Rainier Valley — Thumbnail History

			[Thumbnail History of Rainier Valley](https://historylink.org/File/3092)
		
		</Markdown>
	</div>
</MainLayout>