<div class="max-w-sm rounded-xl mb-5 mx-auto bg-white p-1 text-center">
	<div class="p-2 border-2 border-sky rounded-xl">
		<h3 class='text-2xl text-sky font-bold'>Rainier Valley Creative District</h3>
		<h3 class='text-4xl text-wine font-bold'>Day of Action</h3>
		<h3 class='text-2xl text-mustard font-bold pt-1'>Oct 15th, 2022</h3>
		<a class="text-white font-bold mt-3 py-1 text-lg block bg-sky rounded-lg" href="/events/day-of-action">» more info</a>
	</div>
</div>
