---
import Image from './Image.astro'
import GoldenDino from './GoldenDino.svelte'

const {showDino = false } = Astro.props;
---

<div class="h-full w-full bg-cobalt border-t-4 border-gray-200 p-5" >
	<div class="flex flex-wrap justify-around max-w-6xl mx-10 xl:mx-auto w-auto xl:w-full items-center h-full">

		<div class="flex  space-x-10 h-full items-center">
			<a href="https://www.arts.wa.gov/">
				<Image
					src="https://ik.imagekit.io/thegoldendino/hfw/sponsors/Transparent-background-ArtsWA-logo_State-with-full-name_2019_2HKh-O2il0I.png?updatedAt=1628630949914"
					alt="Washington State Arts Commission"
					className="w-auto h-24 bg-white border-2  border-white"
					raw={true}
					height="96" />
			</a>
			<a href="https://www.adefuacenter.org/">
				<Image
					src="https://ik.imagekit.io/thegoldendino/rvcd/community/adefua_9aRQdrJV2.png?updatedAt=1629866344930"
					alt="ADEFUA Cultural Education Workshop"
					className="w-auto h-24"
					height="96" />
			</a>
		</div>
		<p class="italic text-gray-200 text-center sm:text-left  sm:w-1/2 mt-4 sm:mt-0">
			Rainier Valley Creative District is a program of
			Adefua Education Workshop and is certified by the
			Washington State Arts Commission.
		</p>

		<div class="self-center flex md:flex-col items-center justify-center h-full justify-between mt-3 md:mt-0">
			<a class="inline-block" target="_blank" rel="noopener" href="https://www.facebook.com/Rainiervalleycreativedistrict" aria-label="facebook">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook text-gray-200" viewBox="0 0 16 16">
					<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
				</svg>
			</a>
			{showDino && (
				<GoldenDino client:visible />
			)}
		
		</div>

	</div>
</div>