<div class="max-w-sm rounded-xl mb-5 mx-auto overflow-clip">
	<div class="gfm-embed" data-url="https://www.gofundme.com/f/Summertime-outdoor-mural-painting-during-covid19/widget/medium/"></div><script defer src="https://www.gofundme.com/static/js/embed.js"></script>
</div>
