    <section class="sm:col-span-3 bg-gray-800/20 rounded-xl px-4 py-3 max-w-[384px] mx-auto mt-6">
      <div class="flex flex-col items-center h-full justify-center font-emphasis font-medium">
        <span class="block text-white font-secondary text-3xl text-center mb-2">
					MORE INFO
        </span>
				<div class="w-full p-0 m-0">
          <div class="flex flex-col justify-center items-center w-full">
            <div class="hidden md:flex w-full md:mb-4 justify-center items-center">
              <label class="text-gray-200 mr-2 mb-0 block text-center text-xl md:text-2xl" for="mce-EMAIL">
                EMAIL:
              </label>
              <a class="bg-white/80 block w-full font-base text-lg px-2 py-1 text-center" href="mailto:rvcdinfo@gmail.com">
                rvcdinfo@gmail.com
              </a>
            </div>
				</div>
      </div>
    </section>