---
import MainLayout from "../../layouts/MainLayout.astro";
const participants = ["rvcd", "adefua", "seyfs", "myrvla", "rbcoalition", "swps"];
---
<MainLayout infoKey="seattle" title="Day of Cultivation" heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/seattle_e7GvcLR9k.JPG?updatedAt=1636175567171&tr=w-1024,f-jpg,pr-true" bg="bg-sky">
	
	<h2 class="text-gray-200 text-2xl md:text-3xl bg-sky px-4 py-2 mb-2 rounded-xl">
		We Need Volunteers and Memberships to Support S.E. Seattle Organizations
	</h2>

	<!-- <div class="border-sky border-4 rounded-xl mt-6 md:mt-0">
		<div class="px-4 py-2 bg-sky rounded-xl border-2 border-gray-200">
			<h2 class="text-gray-200 text-2xl py-2 flex flex-col md:flex-row">
				<span class="text-gray-600 w-32 inline-block font-bold underline mr-2">LOCATION:</span>
				<span class="font-bold">ADEFUA Center<span class="text-xl text-gray-600 hidden lg:inline">, 6716 Rainier Avenue South, Seattle, WA 98118.</span></span>
				<div class="md:ml-4 border-b-2 border-gray-200/60 max-w-fit">
					<a href="https://goo.gl/maps/514N45KGh63QVb5v5" class="flex opacity-80 hover:opacity-100">
						<span class="sr-only">Location Map</span>
						<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 24 24" width="30px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"/></svg>
						<p class="text-xl ml-1">map</p>
					</a>
					
				</div>
			</h2>
			<h2 class="text-gray-200 text-2xl mb-2 mt-2">
				<span class="text-gray-600 w-32 inline-block underline font-bold">TIME:</span>
				<span class="font-bold block md:inline">3 - 4pm. <span class="text-xl text-gray-600 block lg:inline">(Come early for a Community Blessing at 2:30pm)</span></span>
			</h2>	
		</div>
	</div> -->


	<div class="content px-4 mt-6 md:mt-10">
		The Rainier Valley Creative District invites you to participate in our annual convening of organizations and non-profits of the Rainier Valley.
	</div>

	<div class="content px-4 mt-6">
		We are gathered to uplift and honor each other this fall as we hope to contribute to each of the organizations who are participating this year.	
	</div>
	
	<div class="content px-4 mt-10">
		<h3 class="text-xl md:text-3xl">What we ask of you:</h3>
		<ol>
			<li><b>1.</b> To watch our presentations on the importance of volunteering, membership, and supporting your community.</li>
			<li><b>2.</b> Please read through the profiles of various organizations of the Rainier Valley.</li>
			<li><b>3.</b> Select one organization to support.</li>
			<li><b>4.</b> Like and follow the social media for the various organizations.</li>
		</ol>
	</div>

	<hr class="my-10 border-mustard border-2"/>

	<div class="px-4 flex justify-around flex-wrap">
		<div class="flex flex-col w-full md:w-1/4 mt-6 md:mt-0">
			<iframe 
				class="w-full aspect-video bg-gray-600 flex justify-center items-center text-3xl text-gray-200" 
				src="https://www.youtube.com/embed/U_THaYp9KWk"
				title="On the Importance of Volunteering with Blane Maxwell"
				frameborder="0" 
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
				On the Importance of Volunteering with Blane Maxwell
			</iframe>
			<div class="flex justify-center items-center text-lg text-gray-600 mt-2 text-center font-bold">
				On the Importance of Volunteering with Blane Maxwell	
			</div>
		</div>
		<div class="flex flex-col w-full md:w-1/4 mt-6 md:mt-0">
			<iframe 
				class="w-full aspect-video bg-gray-600 flex justify-center items-center text-3xl text-gray-200" 
				src="https://www.youtube.com/embed/e75fd7wvn_Y"
				title="Volunteering and Membership with Dan Schmitt"
				frameborder="0" 
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
				Volunteering and Membership with Dan Schmitt
			</iframe>
			<div class="flex justify-center items-center text-lg text-gray-600 mt-2 text-center font-bold">
				Volunteering and Membership with Dan Schmitt	
			</div>
		</div>
		<div class="flex flex-col w-full md:w-1/4 mt-6 md:mt-0">
			<iframe 
				class="w-full aspect-video bg-gray-600 flex justify-center items-center text-3xl text-gray-200" 
				src="https://www.youtube.com/embed/B7pubKfWPlQ"
				title="Belonging and Community with Mary Myers"
				frameborder="0" 
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
				Belonging and Community with Mary Myers
			</iframe>
			<div class="flex justify-center items-center text-lg text-gray-600 mt-2 text-center font-bold">
				Belonging and Community with Mary Myers
			</div>
		</div>
	</div>

	<!-- <hr class="my-10 border-mustard border-2"/>
	<div class="flex justify-center">
		<Image
				src="https://ik.imagekit.io/thegoldendino/rvcd/events/2022/day-of-cultivation_Urr5LyPgV.png?ik-sdk-version=javascript-1.4.3&updatedAt=1665600246689"
				width="480"
				height="640"
				alt="Day of Cultivation Flyer"
				className="mt-4 border-8 border-white"
				raw={true}
			/>
	</div> -->

	{participants.map((commkey) => (
		<hr class="my-10 border-mustard border-2"/>
	))}

</MainLayout>