---
import MainLayout from '../../layouts/MainLayout.astro';
import SigEvent from '../../components/SigEvent.astro';

import signatureEvents from '../../data/signature-events.json'
---

<MainLayout infoKey="flying-heads" title="Events" heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/hanging-heads_XTwLlID0v.jpg?updatedAt=1636006436488&tr=w-1024,f-jpg,pr-true" bg="bg-sky">
	<div class="grid grid-cols-1 gap-10  w-full">
	 
		<!-- Signature EVENTS -->
		<div class="flex flex-col justify-between items-center h-full">
			<h3 class="text-gray-200 block text-3xl bg-sky px-4 py-2 mb-2">Signature Events</h3>
			{signatureEvents.map((event) => (
				<SigEvent event={event}></SigEvent>
			))}
		</div>

	</div>
</MainLayout>