---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  title="The Magic Hour"
  infoKey="faces"
  heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/faces_gx6HJSkGSh.jpg?updatedAt=1636006442406&tr=w-1024,f-jpg,pr-true"
  bg="bg-sky/80"
>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
    <div>
      <h2 class="text-3xl text-gray-200 mb-2">Welcome Mural Project</h2>
      <p class="text-gray-600 mb-2">
        Take a tour of five newly installed murals welcoming you to the
        <span class="font-bold">RAINIER VALLEY CREATIVE DISTRICT</span>.
      </p>
      <p class="text-gray-600 mb-2">
        From Columbia City to Hillman City to Brighton to Dunlap to the Rainier
        Beach neighborhood, check out these beautiful artworks by five local
        artists. Take selfies and share them on your social media with the
        hashtags:
        <br />
        <span class="font-bold">#RVCDMagicHour</span> and <span
          class="font-bold">#RVCDMurals</span
        >.
      </p>
      <p class="text-gray-600 mb-7 rounded-xl underline font-bold">
        <a href="/assets/pdfs/rvcd-mural-map.pdf">» Map & Artists (PDF)</a>
      </p>
      <div class="flex gap-3 mb-5 flex-col sm-flex-row">
        <div class="font-bold text-xl">1.</div>
        <div class="flex flex-col justify-between">
          <div>
            <img
              height="152"
              width="145"
              class="h-auto sm-mx-auto max-w-sm rounded-xl border-4 border-white w-40"
              src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/josh-nucci_fFR9I-wsq.jpg?updatedAt=1687925340996&tr=w-152,h-145"
              alt="Josh Nucci"
            />
          </div>
        </div>
        <div>
          <h4 class="font-bold text-xl">JOSH NUCCI</h4>
          <p class="mb-3">
            Joshua Nucci is a 23-year old African American, Blackfoot Indian,
            Brazilian, Italian and Portuguese visual artist, story teller,
            musician, and curator from Seattle, Washington.
          </p>
          <p>
            “My cultural background of Indigenous descent inspires the stories I
            am drawn to tell with my music and visual art. I am focused on
            building community. Art is a way that I can share the knowledge I've
            gathered with others and learn myself. I utilize my visual art,
            color theory, and music to bring out the life and spirit I see
            inside of everything. From a pattern on a rock to the knots of a
            tree, I observe and listen.”
          </p>
        </div>
      </div>
      <div class="flex gap-3 mb-5 flex-col sm-flex-row">
        <div class="font-bold text-xl">2.</div>
        <div class="flex flex-col justify-between">
          <div>
            <img
              height="152"
              width="145"
              class="h-auto sm-mx-auto max-w-sm rounded-xl border-4 border-white w-40"
              src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/katana-sol_WcfbZxH5p.jpg?updatedAt=1687925340770&tr=w-152,h-145"
              alt="Katana Sol"
            />
          </div>
        </div>
        <div>
          <h4 class="font-bold text-xl">KATANA SOL</h4>
          <p class="mb-3">
            Katana is an observer and listener who values community and kindness
            through bright colors and images of empowerment.
          </p>
          <p>
            She likes to stop and listen to those around us, and see that as we
            are all connected, that we are an entanglement of so many things to
            still understand, and values listening to the stories of the past
            necessary to move forwards into a new future.
          </p>
        </div>
      </div>
      <div class="flex gap-3 mb-5 flex-col sm-flex-row">
        <div class="font-bold text-xl">3.</div>
        <div class="flex flex-col justify-between">
          <div>
            <img
              height="152"
              width="145"
              class="h-auto sm-mx-auto max-w-sm rounded-xl border-4 border-white w-40"
              src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/breeze_vMW6Uy7nL.jpg?updatedAt=1687925340096&tr=w-152,h-145"
              alt="Breeze"
            />
          </div>
        </div>
        <div>
          <h4 class="font-bold text-xl">BREEZE</h4>
          <p class="mb-3">
            Introducing a rising star in the art world, Breyahna Coston or
            Breeze, Seattle-born and Tacoma-based, has already established
            themselves as a prominent figure in the Pacific Northwest art scene.
            Before pursuing art full-time, Breeze worked as a barber, developing
            an eye for detail and precision that translates seamlessly into
            their work. They also studied at Yale, where they deepened their
            understanding of art theory and technique. Breeze's skill set is
            impressive, ranging from mural work and canvas art to sculpting.
            They seamlessly shift between mediums, creating pieces that are
            captivating and unique. Their formative years at Garfield, a
            renowned arts-focused high school in Seattle, also influenced their
            artistic vision and approach. Drawing inspiration from the natural
            world, Breeze's works are imbued with a sense of wonder and a deep
            appreciation for the interconnectedness of all things.
          </p>
        </div>
      </div>
      <div class="flex gap-3 mb-5 flex-col sm-flex-row">
        <div class="font-bold text-xl">4.</div>
        <div class="flex flex-col justify-between">
          <div>
            <img
              height="152"
              width="145"
              class="h-auto sm-mx-auto max-w-sm rounded-xl border-4 border-white w-40"
              src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/nahom-ghirmay_9dMHJHyg9.jpg?updatedAt=1687925340943&tr=w-152,h-145"
              alt="Nahom Ghirmay"
            />
          </div>
        </div>
        <div>
          <h4 class="font-bold text-xl">NAHOM GHIRMAY</h4>
          <p class="mb-3">
            Having experienced diverse cultures worldwide, my art is profoundly
            influenced by these encounters, redefining my notion of 'home' and
            enriching my creative expression. Within my artworks, I venture into
            the exploration of identity and delve into the emotional depths,
            captivated by the subtle nuances of facial expressions and body
            language. Drawing inspiration from the stories, ambitions, and
            concerns of those around me, I strive to capture and portray these
            narratives. Ultimately, my goal is to foster connection among
            people, promoting empathy and dialogue that transcends cultural
            boundaries.
          </p>
        </div>
      </div>
      <div class="flex gap-3 mb-5 flex-col sm-flex-row">
        <div class="font-bold text-xl">5.</div>
        <div class="flex flex-col justify-between">
          <div>
            <img
              height="152"
              width="145"
              class="h-auto sm-mx-auto max-w-sm rounded-xl border-4 border-white w-40"
              src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/amara-s_5rlUXME1Rw.jpg?updatedAt=1687925340704&tr=w-152,h-145"
              alt="Amara S"
            />
          </div>
        </div>
        <div>
          <h4 class="font-bold text-xl">AMARA S</h4>
          <p class="mb-3">
            Amara is an illustrator and designer with a love for cartoons and
            forestry. She has drawn spot illustrations and short stories for the
            publishing industry and recently graduated with a degree in graphic
            design. In her free time, she likes to sketch while going on long
            walks.
          </p>
        </div>
      </div>
    </div>
    <div>
      <p
        class="text-xl text-gray-200 bg-sky rounded-xl px-3 py-2 text-center mb-5"
      >
        Check out our five new murals at the starred sites below!
      </p>

      <img
        class="h-auto mx-auto w-full max-w-sm rounded-xl mb-5"
        width="376"
        height="462"
        src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/mural-map_pVsR5fLrl.png?updatedAt=1687925455772&tr=w-376,h-462,f-jpg,pr-true"
        alt="Map"
      />
      <div class="mb-5">
        <img
          width="384"
          height="193"
          class="h-auto mx-auto max-w-sm w-full"
          src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/IMG_6375_JqJu3Q4EgZ.jpeg?updatedAt=1687924449504&tr=w-384,h-193,f-jpg,pr-true"
          alt="Mural sponsored by Community Arts Create"
        />
        <div class="mx-auto max-w-sm mt-2 flex gap-3">
          <div class="font-bold text-xl">1.</div>
          <p class="text-sm">
            Sponsored by Community Arts Create
            <br />
            L.E.M.S. Bookstore 5023 Rainier Ave
            <br />
            S Artist: Josh Nucci
          </p>
        </div>
      </div>
      <div class="mb-5">
        <img
          width="384"
          height="193"
          class="h-auto mx-auto max-w-sm w-full"
          src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/RVLA_installed_QcLddY0jb.jpeg?updatedAt=1687924450115&tr=w-384,h-193,f-jpg,pr-true"
          alt="Mural sponsored by Rainier Valley Leadership Academy"
        />
        <div class="mx-auto max-w-sm mt-2 flex gap-3">
          <div class="font-bold text-xl">2.</div>
          <p class="text-sm">
            Rainier Valley Leadership Academy
            <br />
            6020 Rainier Ave S
            <br />
            Artist: Katana Sol
          </p>
        </div>
      </div>
      <div class="mb-5">
        <img
          width="384"
          height="193"
          class="h-auto mx-auto max-w-sm w-full"
          src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/IMG_6378_rq2cpb6bY.jpeg?updatedAt=1687924449608&tr=w-384,h-193,f-jpg,pr-true"
          alt="Mural sponsored by ADEFUA Cultural Education Workshop"
        />
        <div class="mx-auto max-w-sm mt-2 flex gap-3">
          <div class="font-bold text-xl">3.</div>
          <p class="text-sm">
            ADEFUA Cultural Education Workshop
            <br />
            6716 Rainier Ave S
            <br />
            Artist: Breeze Coston
          </p>
        </div>
      </div>
      <div class="mb-5">
        <img
          width="384"
          height="193"
          class="h-auto mx-auto max-w-sm w-full"
          src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/IMG_1860_QcCLousHx.jpg?updatedAt=1687924443943&tr=w-384,h-193,f-jpg,pr-true"
          alt="Mural sponsored by Ethiopian Community in Seattle"
        />
        <div class="mx-auto max-w-sm mt-2 flex gap-3">
          <div class="font-bold text-xl">4.</div>
          <p class="text-sm">
            Ethiopian Community in Seattle
            <br />
            8323 Rainier Ave S, Suite A
            <br />
            Artist: Nahom Ghirmay
          </p>
        </div>
      </div>
      <div class="mb-5">
        <img
          width="384"
          height="193"
          class="h-auto mx-auto max-w-sm w-full"
          src="https://ik.imagekit.io/thegoldendino/rvcd/posts/magic-hour/IMG_6363_VZSSixVXK.jpeg?updatedAt=1687924448906&tr=w-384,h-193,f-jpg,pr-true"
          alt="Mural sponsored by Rainier Beach Action Coalition"
        />
        <div class="mx-auto max-w-sm mt-2 flex gap-3">
          <div class="font-bold text-xl">5.</div>
          <p class="text-sm">
            Rainier Beach Action Coalition
            <br />
            9013 Martin Luther King Jr Way S
            <br />
            Artist: Amara S
          </p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
